{{define "Index"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Loja</title>
</head>
<body>
    <h1>Loja</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Camisa</td>
                <td>Anti odor</td>
                <td>99</td>
                <td>1322</td>
            </tr>
            <tr>
                <td>Calça</td>
                <td>Ajustável e confortável</td>
                <td>199</td>
                <td>3322</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{end}}